{% extends "16layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <form action="{{ url_for('homepage') }}" method="post">

<body background="static/achtergrond.jpg">
  <center>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">What's in your fridge?</h1>
    <p class="lead">Click on a category to select what you have!</p>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md">
</div>
  <p>
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#dairy" aria-expanded="false" aria-controls="multiCollapseExample1" >Dairy &#9660;</button>
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#meat" aria-expanded="false" aria-controls="multiCollapseExample2">Meat&#9660;</button>
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#fish" aria-expanded="false" aria-controls="multiCollapseExample3">Fish & Seafood&#9660;</button>
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#fruit" aria-expanded="false" aria-controls="multiCollapseExample4">Fruit&#9660;</button>
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#vegetables" aria-expanded="false" aria-controls="multiCollapseExample5">Vegetables&#9660;</button>
  </p>
  </div>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="dairy">
        <div class="card card-body">
          <div><h3>Dairy&#x1f9c0;</h3></div>
          <form action="{{ url_for('results') }}" method="post">
          {% for dairy in dairylist %}
             <input type="checkbox" name="ingredient" value="{{ dairy }}" ><label for="{{ dairy }}"> {{ dairy }} </label>&nbsp
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="meat">
        <div class="card card-body">
          <div><h3>Meat &#127831;</h3></div>
          {% for meat in meatlist %}
             <input type="checkbox" name="ingredient" value="{{ meat }}" ><label for="{{ meat }}"> {{ meat }} </label>&nbsp
          {% endfor %}
        </div>
      </div>
    </div>
      <div class="col">
      <div class="collapse multi-collapse" id="fish">
        <div class="card card-body">
          <div><h3>Fish & Seafood&#128031;</h3></div>
          {% for fish in fishlist %}
             <input type="checkbox" name="ingredient" value="{{ fish }}" ><label for="{{ fish }}"> {{ fish }} </label>&nbsp
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="fruit">
        <div class="card card-body">
          <div><h3>Fruit&#127823;</h3></div>
          {% for fruit in fruitlist %}
             <input type="checkbox" name="ingredient" value="{{ fruit }}" ><label for="{{ fruit }}"> {{ fruit }} </label>&nbsp
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="vegetables">
        <div class="card card-body">
          <div><h3>Vegetables&#129382;</h3></div>
          {% for vegetable in vegetablelist %}
             <input type="checkbox" name="ingredient" value="{{ vegetable }}" ><label for="{{ vegetable }}"> {{ vegetable }} </label>&nbsp
          {% endfor %}
        </div>
      </div>
    </div>
        <fieldset>
                <button class="btn btn-info" type="submit">Search&#128269;</button>
            </div>
        </fieldset>
    </form>
  </div>
  </center>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
{%endblock%}