<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="Styles.css" rel="stylesheet">
        <title>Login</title>
    </head>
    <body class="body" class="form">
        <center><h3>Login</h3></center>
            <form class="form">
            <center>Username:<br></center>
            <center><input type="text" name="Username" placeholder="Username"><br></center>
            <center>Password:<br></center>
            <center><input type="password" name="password" placeholder= "Password"></center>
            <center><button type="button" class="button">Login</button></center>
            <center>
                <p class="message">Not registered? <a href="https://ide50-uni-2018.legacy.cs50.io:8080/templates/register.html">Create an account</a></p>
            </center>
        </form>
    </body>
</html>