{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}


<table class="table table-striped">
    <tr>
        <th>Username</th>
        <td>{{portfolio.username}}</td>
    </tr>
    <tr>
        <th>Recipes tried</th>
        <td>{{portfolio.tried}}</td>
    </tr>
    <tr>
        <th>Recipes rated</th>
        <td>{{portfolio.rated}}</td>
    </tr>
    <tr>
        <th>Recipes saved</th>
        <td>{{portfolio.saved}}</td>
    </tr>

</table>

<table class="table table-striped" style="width:100%">
     <tr>
        <th>Recipe</th>
        <th>Link</th>
        <th>Tried</th>
        <th>Rating</th>
      </tr>

      {% for recipe in recipes %}
        <tr>
            <td>{{recipe.recipe}}</td>
            <td>{{recipe.link}}</td>
            <td>{{recipe.tried}}</td>
            <td>{{recipe.rating}}</td>
        </tr>

    {% endfor %}


</table>

{% endblock %}
