{% extends "16layout.html" %}

{% block title %}
    My Page
{% endblock %}

{% block main %}
    <form action="{{ url_for('mypage') }}" method="post">
    <div>
        <font size= "6">My recipes &#127859;</font>
    </div>
    <table class="table table-striped">
    <tr>
        <th>Username</th>
        <td>{{user}}</td>
    </tr>
    {% for data in portfolio %}
    <tr>
        <th>Recipes tried</th>
        <td>{{data.tried}}</td>
    </tr>
    <tr>
        <th>Recipes saved</th>
        <td>{{data.saved}}</td>
    </tr>
    {% endfor %}
</table>

<table class="table table-striped" style="width:100%">
     <tr>
        <th>Recipe</th>
        <th>Link</th>
        <th>Tried</th>
        <th>Delete</th>
      </tr>

    {% for recipe in cookbook %}
        <tr>
            <td>{{recipe.recipe}}</td>
            <td><a href="url">{{recipe.link}}</a></td>
            {% if recipe.tried == 1 %}
            <td>✔️</td>
            {% else %}
            <td>
                <div class="form-group">
                <button class="btn btn-info" name="tried" value="{{recipe.recipe}}" type="submit">Tried!</button>
                </div>
            </td>
            {% endif %}
            <td>
                <div class="form-group">
                <button class="btn btn-info" name="delete" value="{{recipe.recipe}}" type="submit">🗑️</button>
                </div>
            </td>
        </tr>
    {% endfor %}



</table>

{% endblock %}

