{% extends "16layout.html" %}

{% block title %}
    Recipe
{% endblock %}

{% block main %}
    <form action="{{ url_for('recipe') }}" method="post">
    {% if session.userid and notsaved %}
        <button class="btn btn-info" name="save_recipe" value="save-recipe" type="submit">Save 💾 </button>
    {% endif %}
    <table class="table table-striped" style="width:100%">
     <tr>
        <th>Recipe</th>
        <th>Image</th>
        <th>Link</th>
        <th>Ingredients</th>
    </tr>


    <tr>
        <td>{{recipe.name}}</td>
        <td><img src="{{recipe.picture}}"></td>
        <td><a href="{{recipe.url}}">{{recipe.url}}</a></td>
        <td>{{recipe.ingredients}}</td>
    </tr>
    </table>
    {% if related %}
        <table class="table table-striped" style="width:100%">
        <tr>
            Users that saved {{recipe.name}} also tried
        </tr>
        {% for recipe, url, image in related_zip %}
            <tr>
                <td><img src="{{image}}"></td>
                <td>{{recipe}}</td>
                <td><a href="{{url}}">{{url}}</a></td>
                </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
